@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #70e1f5;

    --background: 201 56.55% 5.6%;
    --foreground: 201 8.7% 98.5%;

    --muted: 201 43.5% 21%;
    --muted-foreground: 201 8.7% 57%;

    --popover: 201 47.6% 9.1%;
    --popover-foreground: 201 8.7% 98.5%;

    --card: 201 47.6% 9.1%;
    --card-foreground: 201 8.7% 98.5%;

    --border: 201 43.5% 21%;
    --input: 201 43.5% 21%;

    --primary: 201 87% 70%;
    --primary-foreground: 201 8.7% 7%;

    --secondary: 201 43.5% 21%;
    --secondary-foreground: 201 8.7% 98.5%;

    --accent: 201 43.5% 21%;
    --accent-foreground: 201 8.7% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 201 8.7% 98.5%;

    --ring: 201 87% 70%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
